html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}



.App {
  display: flex;
  font-family: Arial, sans-serif;
  padding: .5px;

  padding-bottom: 0px;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid #000000;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba(236, 236, 236, 0.804);
}

.sidebar {
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 400px;
  max-width: 800px;
  height: 100%; 
  padding-right: 10px;
  transition: transform 0.3s ease-in-out;
  background-color: rgba(236, 236, 236, 0.804);
}

.sidebar-closed {
  transform: translateX(calc(-100% + 30px));
}

.sidebar-tables {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  overflow: auto;
  padding: 10px;
  background-color: #535252;
  border-top-left-radius: 10px;
}

.sidebar-graph {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  overflow: auto;
  padding: 10px;
  background-color: #396ad291;
  border-top-left-radius: 10px;
}

.sidebar-chat-bot {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  overflow: auto;
  padding: 10px;
  background-color: rgba(141, 64, 209, 0.651);
}


.sidebar-options {
  width: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  padding: 10px;
  padding-top: 0%;
  padding-bottom: 0%;
  border-top-right-radius: 15px; 
  background-color: rgba(236, 236, 236, 0.804);
}


.sidebar-table-button {
  width: 40px;
  height: 80px; /* Ensure height matches width for perfect centering */
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: #535252;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
  border-left: none;
}

.sidebar-table-button img {
  width: 32px;
  height: 32px;
}

.sidebar-graph-button {
  width: 40px;
  height: 80px; /* Ensure height matches width for perfect centering */
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: #396ad291;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
  border-left: none;
}

.sidebar-graph-button img {
  width: 32px;
  height: 32px;
}

.sidebar-graph-button:disabled {
  opacity: 0.5; /* Make it semi-transparent */
  cursor: not-allowed; /* Change the cursor to indicate it's not clickable */
  background-color: #0b3ca691;
  z-index: 10; /* Ensure it appears above the content */
}

.sidebar-chat-button {
  width: 40px;
  height: 80px; /* Ensure height matches width for perfect centering */
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: rgba(141, 64, 209, 0.651);
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px; 
}

.sidebar-chat-button img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.sidebar-bottom-options {
  margin-top: auto;
  height: 50%;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* Aligns content to the bottom */
  padding-bottom: 10px; /* Adds a bit of padding at the bottom */
  gap: 10px; /* Controls space between items */
}

.page-toggle-button,
.sidebar-toggle-button {
  margin: 0;
  padding: 5px;
}

.page-toggle-button img,
.sidebar-toggle-button img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.page-toggle-button.grayed-out{
  filter: grayscale(100%);
  opacity: 0.3;
  transition: opacity 0.3s ease, filter 0.3s ease;
}


.toggle-icon-container {
  position: relative;
  width: 32px;
  height: 32px;
}

.toggle-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.sidebar-toggle-button {
  filter: grayscale(100%);
  opacity: 0.3;
  transition: opacity 0.3s ease, filter 0.3s ease;
}

.sidebar-toggle-button:hover {
  opacity: 0.6;
  filter: grayscale(0%);
}

.resizer {
  width: 5px;
  background-color: #ddd;
  cursor: col-resize;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: opacity 0.4s ease-in-out;
}

.resizer-closed {
  opacity: 0;
  cursor: default;
}

input::file-selector-button  {
  font-weight: bold;
  background-color: #220f07;
  color: #FFFFFF; /* White for high Scontrast */
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
  cursor: pointer;
}

.upload-button {
  font-weight: bold;
  background-color: #220f07;
  color: #FFFFFF; /* White for high contrast */
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
  cursor: pointer;
}

.upload-section {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #e4e4e4;
}

.upload-section h2 {
  padding: 0;
  margin-top: 0;
}

.upload-section-input {
  background-color: rgb(216, 199, 174);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.load-csv-section {
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  min-height: 0;
  background-color: #e4e4e4;
}

.load-csv-section h2 {
  margin-bottom: 10px;
}

.file-list-container {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 10px;
  min-height: 0;
}

.file-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.file-item {
  display: flex;            /* makes li a flex container */
  align-items: center;      /* vertically center everything */
  justify-content: space-between; /* push text left, icon right */

  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  cursor: pointer;
  overflow: hidden;
}

.file-item-selected {
  display: flex;               /* again, ensure flex layout */
  align-items: center;
  justify-content: space-between;

  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  background-color: #a74754;
  color: #FFFFFF; 
  font-weight: bold;
  border: 1px solid #ddd;
}

.file-icon {
  /* remove float: right and position: relative */
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
}


.file-item:hover .delete-icon {
  display: inline;
}

.file-item-selected .delete-icon {
  display: inline;
}

.file-icon:hover .delete-icon {
  font-weight: bold;
  color: yellow;
}


.delete-icon {
  display: none;
}

.loader {
  border: 3px solid #656060;
  border-top: 3px solid #b4b4b4;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite; /* Maintains spinning animation */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f9f9f9;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: margin-left 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.mails-containt-closed {
  margin-left: calc(-100% + 30px);
}

.pdf-container {
  flex-grow: 1;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container {
  flex-grow: 1;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-container th {
  background-color: #f4f4f4;
  text-align: left;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 14px;
}

table,
.divTable {
  border: 1px solid lightgray;
  width: fit-content;
}

.tr {
  display: flex;
}

tr,
.tr {
  width: fit-content;
  height: 30px;
}

th,
.th,
td,
.td {
  box-shadow: inset 0 0 0 1px lightgray;
  padding: 0.25rem;
}


th,
.th {
  padding: 2px 4px;
  position: relative;
  font-weight: bold;
  text-align: center;
  height: 30px;
  
}

td,
.td {
  height: 30px;
}

.tbl_resizer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.tbl_resizer.ltr {
  right: 0;
}

.tbl_resizer.rtl {
  left: 0;
}

.tbl_resizer.isResizing {
  background: blue;
  opacity: 1;
}

@media (hover: hover) {
  .tbl_resizer {
    opacity: 0;
  }

  *:hover > .tbl_resizer {
    opacity: 1;
  }
}

.pagination-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.pagination-button img {
  width: 24px; /* Adjust size as needed */
  height: 24px;
}

.pagination-button.small img {
  width: 4px; /* Smaller size */
  height: 4px;
}

.pagination-button:disabled img {
  opacity: 0.3; /* Make the image appear disabled */
  cursor: not-allowed;
}


.table-container th.row-number-cell {
  background-color: #E0E0E0;
  position: relative; /* Fixed */
  cursor: default; /* Fixed */
  text-align: center;
}

.table-container th.header-column-cells {
  background-color: #E0E0E0;
  position: relative; /* Fixed */
  cursor: pointer; /* Fixed */
  text-align: center;
}

.table-container th.header-column-cells:hover {
  background-color: #a6a4a4;
}

.table-container th.selected-column {
  background-color: #e7a748;
  position: relative; /* Fixed */
  cursor: pointer; /* Fixed */
  text-align: center;
}



.selected-cell {
  background-color: #F8B195; /* Individually selected cell */
}

.selected-row {
  background-color: #a6a4a4; /* Fully selected row */
}

.row-number-cell {
  width: min-content;
  text-align: center;
  padding: 0 4px;  /* Minimal padding */
  background-color: #E0E0E0; /* Row number column */
}

.even-row {
  background-color: #F5F5F5; /* Alternate row coloring */
}

.odd-row {
  background-color: white;
}


.sidebar-graph h2 {
  font-size: 24px;
  line-height: 1.2;
  margin-top: 2px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 0;
  padding: 0; 
}

.chat-messages {
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  /* overflow-y: hidden;
  overflow-x: hidden; */
  min-height: 0;
  background-color: #e4e4e4;
  height: 98%;
}

.conversation-window {
  flex-grow: 1;
  overflow-y: hidden;
  padding: 5px;
  margin-top: 10px;
  min-height: 0;
  background-color: #f4f4f4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.input-container {
  display: flex;
  width: 100%;
}

.input-container input {
  flex: 1; /* Makes the input take up remaining space */
  padding: 10px;
  font-size: 16px;
  background-color: rgb(216, 199, 174);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-container button {
  font-weight: bold;
  background-color: #220f07;
  color: #FFFFFF; /* White for high contrast */
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
  cursor: pointer;
}

.about-project-container {
  flex-grow: 1;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  background-color: #fff;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.message-line {
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
  width: fit-content;

}

.message-line.User {
  background-color: #2ec0a5;
  padding: 5px;
  border-radius: 5px;
}

.message-line.supervisor {
  background-color: #ffaf4d;
  padding: 5px;
  border-radius: 5px;
}

.message-line.sql_agent {
  background-color: #715cfd;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.message-line.sql_validator {
  background-color: #715cfd;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.message-line.pdf_agent {
  background-color: #df72cf;
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
}

.message-line.pdf_validator {
  background-color: #df72cf;
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
}

.message-line.data_analyst {
  background-color: #6cc7f8;
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
}

.highlight-yellow {
  background-color: rgba(255, 255, 0, 0.3); /* 30% opacity */
  color: black; 
}

.highlight-red {
  background-color: rgba(255, 0, 0, 0.3); /* 30% opacity */
  color: black; 
}

.highlight-green {
  background-color: rgba(0, 255, 0, 0.3); /* 30% opacity */
  color: black; 
}

.agent-sketch-img {
  width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.chat-info {
  float: right;
  font-style: italic;
}
/* .chat-time {

}

.chat-thread-id {

} */

.token-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  padding: 0%;
  word-wrap: break-word;
  overflow-x: auto;
}